mixin filter-date-select(name, placeholder, value, label, state, stateDescript)
    div(class=`input-field input-field__input-wrapper` class=`input-field__${name}` date-datepicker-wide = true date-datepicker=true)
        input(name=name, type = type, placeholder = placeholder, value = value, class = `input-field__input`, class = `input-field_${state}`, class = `input-field__input-${name}` ,data-input-field =true)

