mixin inputField(name, type, placeholder, value, label, description, descriptionSpan, materialIcon)
    label(class=`input-field input-field_${name}`)= label
        div(class=`input-field__content-wrapper_${name}`)
            input(type=type class=`input-field__input` placeholder=placeholder value=value)
            if name==='select'
                div(class=`input-field__icon material-icons`)=`${materialIcon}`
            if description !== ''
                span(class=`input-field__description`)= descriptionSpan