mixin datepicker(name, type, placeholder, value, label, elem)
    div(class = 'input-field__datepicker-wrapper')
        label(class = `input-field__label`)=label
            input(name=name, type = type, placeholder = placeholder, value = value, class = `input-field__input`, class = `input-field__${elem}`, class = `input-field__start-date`)
        label(class = `input-field__label`)=label
            input(name=name, type = type, placeholder = placeholder, value = value, class = `input-field__input`, class = `input-field__${elem}`, class = `input-field__end-date`)
