mixin inputCheck (name, span)
    label(class =`${name}__label`)
        input(type = 'checkbox' class =`${name}__input` name = `${name}`)
        span(class = `${name}__ui-input`)
        span(class = `${name}__description`)=span
