mixin textType(tagName,tagContent)
    #{tagName}(class='text-type__'+`${tagName}`)=`${tagContent}`
mixin typeDescription(tagName, typeDescription)
    #{tagName}(class='type-description__'+`${tagName}`)=`${typeDescription}`