mixin colorBox(color)
    div(class=`${color}`)
mixin colorDescription(colorName, colorCode)
    h2(class='color-name__' + `${colorName}`)=(`${colorName}`)
    span(class=`color-code_${colorCode}`)=(`${colorCode}`)

